@page 
{
  size: auto;   /* auto is the current printer page size */
  margin: 0mm;  /* this affects the margin in the printer settings */
}

body *, header, footer
{
visibility: hidden !important;
-webkit-print-color-adjust: exact;
}

.identification-container
{
color: #FFFFFF !important;
-webkit-print-color-adjust: exact;
}

.color-bar > .col-no-pad
{
color: #FFFFFF !important;
-webkit-print-color-adjust: exact;
}

.color-bar.identification-color-white > .col-no-pad
{
color: #333333 !important;
}

.header, .header *, .footer, .footer *, .container, .printarea #content-container, #splitter, #splitter .col-md-6
{
padding: 0px !important;
margin: 0px !important;
}

.header, .header *, .footer, .footer *
{
height: 0px !important;
}


.content-container
{
margin: 0px;
}
.content
{
margin-top: 0px !important;
}

#content-left.col-md-6 
{
display: none !important;
}

.printarea, .printarea * 
{
visibility: visible !important;
}

.printarea
{
position: absolute;
top: 0;
left: 0;
margin-top: 0px !important;
width:100% !important;
height:inherit !important;
overflow: visible !important;
border: none !important;
float:none !important;
}

.printarea-document
{
padding-top: 0px !important;
}