
html,body {
    height:100%;
}

.header
{
  height: 40px;
}

.content
{
  margin-top: 10px;
}

.row-custom-expand
{
  margin-left: 0px;
  margin-right: 0px;
}

.col-custom-span-8
{
/*   text-align: center; */
  width: 11.5%;
  display: inline-block;
}

.rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.image-center
{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.ui-widget-content
{
  background: transparent;
}

.ui-rotatable-handle
{
  position: absolute;
  left: 50%;
  top: 10px;
  margin-left: -3px;
}

.ui-icon, .ui-widget-content .ui-icon
{
  background-image: none;
}

.ui-rotatable-handle {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  cursor: 'grab';
  background-image: none;
  left: 50%;
  margin-left: -1px; 
  top: 10px;
  background-color: rgb(127,255,127);
  border: 1px solid #000000;
}
.ui-resizable-handle 
{
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 4px;
}
.ui-resizable-nw 
{
  left: -4px;
  top: -4px;
}
.ui-resizable-ne 
{
  top: -4px;
  right: -4px;
}
.ui-resizable-sw 
{
  bottom: -4px;
  left: -4px;
}
.ui-resizable-se 
{
  bottom: -4px;
  right:-4px;
}
.ui-resizable-n
{
  top: -4px;
  left:50%;
}
.ui-resizable-s 
{
  bottom: -4px;
  left: 50%;
}
.ui-resizable-w 
{
  left:-4px;
  top:50%;
}
.ui-resizable-e 
{
  right:-4px;
  top:50%;
}

#splitter
{
  margin-bottom: 30px;
}

.analysis-container
{
  height:900px; 
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right:15px;
}

.analysis
{
  /*background-color: red;*/
  margin: 15px 0px; 
  position: relative;
  display: table;
}

.analysis-selected
{
  background-color: #EEEEEE;
}

#send-button
{
  width: 100%;
  height: 80px;
  vertical-align: middle;
  line-height: 60px;
  margin-top: 20px;
  font-size: 30px;
}

#gps-map-canvas
{ 
  height: 100%; 
  margin: 0; 
  padding: 0;
}

.identification-container
{
  background-color: #5cb85c !important;
  text-align: center; 
  height: 80%; 
  margin-top: 16px; 
  padding: 13px; 
  color: #FFFFFF !important;
  font-size:22px;
  font-weight: bold;
  text-transform: uppercase;
}

.result-image-original, .result-image-match
{
  text-align: center;
  padding: 20px;
  float: none;
  display: table-cell;
}

.result-image-hover
{
  float: none;
  display: table-cell;
  text-align: center;
  font-size: 50px;
  vertical-align: middle;
  line-height: 0px;
}

.candidate-image-original
{
  text-align: center;
}

.candidate-image-match
{
  text-align: center;
}

.result-image-correspondences
{
  position: absolute;
  top: 0;
  left: -100%;
  background-color: #3071a9;
  z-index: 9999;
  height: 100%;
  padding: 20px;
  float: none;
  display: table-cell;
}

.result-image-original img, .result-image-correspondences img, .result-image-match img
{
  max-height: 100%;
  max-width: 100%;
}

.candidate-image-original img, .candidate-image-match img
{
  height: 174px;
  margin: 5px;
}

.candidate-information
{
  text-align: center;
}

/* Gogle Maps */
a[href^="http://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

/* Printing */
@media print 
{
  /* Duplicate this CSS for printable.css */
  @page 
  {
      size: auto;   /* auto is the current printer page size */
      margin: 0mm;  /* this affects the margin in the printer settings */
  }

  body *, header, footer
  {
    visibility: hidden !important;
    -webkit-print-color-adjust: exact;
  }

  .identification-container
  {
    color: #FFFFFF !important;
    -webkit-print-color-adjust: exact;
  }

  .header, .header *, .footer, .footer *, .container, .printarea #content-container, #splitter, #splitter .col-md-6
  {
    padding: 0px !important;
    margin: 0px !important;
  }

  .header, .header *, .footer, .footer *
  {
    height: 0px !important;
  }

  .content
  {
    margin-top: 0px !important;
  }

  #content-left.col-md-6 
  {
    display: none !important;
  }

  .printarea, .printarea * 
  {
    visibility: visible !important;
  }

  .printarea
  {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0px !important;
    width:100% !important;
    height:inherit !important;
    overflow: visible !important;
    border: none !important;
    float:none !important;
  }

  .printarea-document
  {
    padding-top: 0px !important;
  }
}
