{% extends "layout.html" %}
{% block content %}
    {% if not valid %}
        <div class="jumbotron" style="text-align: center; position: relative;">
            <h3>OOPS...</h3>
            <p>
                The car and person you tried to review has not been processed yet by IBEIS.
                <br/>
                <br/>
                Please try again later.
            </p>
            <a href="?override" style="position: absolute; bottom: 10px; right: 10px; color: #333;">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            </a>
        </div>
    {% else %}
        <script type="text/javascript">
            var selected = new Array();
            var isnew    = new Array();
            var track = {};
            var markers = {};
            var empty = '{{ url_for('static', filename='images/empty.jpg') }}';
            var original_locations = new Array();
            var match_locations = new Array();

            $( window ).load( function() {
                {% if data %}
                    {% autoescape false %}
                        var data = $.parseJSON('{{ data }}');
                    {% endautoescape %}
                    var last = undefined;
                    $.each( data.track, function( key, marker ) {
                        if(last === undefined)
                        {
                            last = marker.time;
                            console.log("TRACK FIRST: " + last);
                        }
                        else
                        {
                            last = marker.time;   
                        }
                        track[last] = [marker.lat, marker.lon];
                    });
                    console.log("TRACK LAST : " + last);
                {% endif %}

                loadMap();
                updateCandidates();
            });

            $( window ).ready( function() {
                $(".analysis-image-hover-container").mouseenter(function() {
                    console.log('HOVER');
                    analysis = $(this).attr("analysis");       
                    $(this).animate({ backgroundColor: "#CCC", }, 500);
                    $("#analysis-image-correspondences-" + analysis).animate({ left: "0", }, 500);
                });

                $(".analysis-image-hover-container").mouseleave(function() {
                    console.log('LEAVE');
                    analysis = $(this).attr("analysis");          
                    $(this).animate({ backgroundColor: "transparent", }, 500);
                    $("#analysis-image-correspondences-" + analysis).animate({ left: "-100%", }, 500);
                });
            });

            function loadMap()
            {
                $("#gps-map-canvas").attr('src', '{{ url_for('map') }}?offset=-110&car_str={{ car_str }}&original_locations=' + JSON.stringify(original_locations) + "&match_locations=" + JSON.stringify(match_locations));
            }

            function findClosestTime(metadata_time)
            {
                var index;
                for( index in track )
                {
                    if(metadata_time < index)
                    {
                        return index;
                    }
                }
                return index;
            }
            function zeroPad(num, places) {
              var zero = places - num.toString().length + 1;
              return Array(+(zero > 0 && zero)).join("0") + num;
            }


            function updateCandidates()
            {
                var template = '' + 
                    '<h4>Image: {0}</h4>' + 
                    '<p>Time: {1}</p>' + 
                '';
                markers = {};
                original_locations = new Array();
                match_locations = new Array();
                for( var i = 0; i < 3; i++ )
                {
                    if(i < selected.length)
                    {
                        var candidate = selected[i];
                        var candidate_is_new = isnew[i];
                        var analysis = $("#analysis-" + candidate);

                        original_name = analysis.attr('metadata-original-image-gname');
                        original_unixtime = Number.parseFloat(analysis.attr('metadata-original-image-unixtime'));
                        original_date = new Date((original_unixtime + 60 * 60 * 3) * 1000);
                        original_date_str = original_date.getUTCDate() + "/" + (original_date.getUTCMonth() + 1) + "/" + original_date.getUTCFullYear() + " " + zeroPad(original_date.getUTCHours(), 2) + ":" + zeroPad(original_date.getUTCMinutes(), 2);

                        match_name = analysis.attr('metadata-match-annot-name');
                        match_unixtime = Number.parseFloat(analysis.attr('metadata-match-image-unixtime'));
                        // match_unixtime += 60 * 60 * 3;  // Offset for Nairobi time
                        match_date = new Date(match_unixtime * 1000);
                        match_date_str = match_date.getUTCDate() + "/" + (match_date.getUTCMonth() + 1) + "/" + match_date.getUTCFullYear() + " " + zeroPad(match_date.getUTCHours(), 2) + ":" + zeroPad(match_date.getUTCMinutes(), 2);

                        track_index = findClosestTime(original_unixtime);
                        console.log(original_unixtime, track_index);
                        if(track_index !== undefined)
                        {
                            original_image_lat = Number.parseFloat(track[track_index][0]).toFixed(6);
                            original_image_lon = Number.parseFloat(track[track_index][1]).toFixed(6);
                        }
                        else
                        {
                            original_image_lat = 'Unknown';
                            original_image_lon = 'Unknown';
                        }

                        match_image_lat = Number.parseFloat(analysis.attr('metadata-match-image-lat')).toFixed(6);
                        match_image_lon = Number.parseFloat(analysis.attr('metadata-match-image-lon')).toFixed(6);

                        $("#candidate-image-original-" + i + " img").attr('src', $("#analysis-image-original-" + candidate + " img").attr('src') );

                        original_locations.push([original_image_lat, original_image_lon]);

                        if(candidate_is_new)
                        {
                            $("#candidate-new-" + i).css('display', 'initial');
                            $("#candidate-match-" + i).css('display', 'none');

                            $('#candidate-new-'   + i + '-original-name').html(original_name);
                            $('#candidate-new-'   + i + '-original-time').html(original_date_str);
                            $('#candidate-new-'   + i + '-match-time').html(original_date_str);
                            $('#candidate-new-'   + i + '-match-lat-lon').html(original_image_lat + ', ' + original_image_lon);

                            match_locations.push(undefined);
                        }
                        else
                        {
                            $("#candidate-image-match-" + i + " img").attr('src', $("#analysis-image-correspondences-" + candidate + " img").attr('src') );

                            $("#candidate-new-" + i).css('display', 'none');
                            $("#candidate-match-" + i).css('display', 'initial');

                            $('#candidate-match-' + i + '-original-name').html(original_name);
                            $('#candidate-match-' + i + '-original-time').html(original_date_str);
                            $('#candidate-match-' + i + '-match-name').html(match_name);
                            $('#candidate-match-' + i + '-match-time-lat-lon').html('First seen ' + match_date_str + ' at ' + match_image_lat + ', ' + match_image_lon);

                            match_locations.push([match_image_lat, match_image_lon]);
                        }
                        // var metadata_time = analysis.attr("metadata-original-image-unixtime");
                        // metadata_time = Number.parseFloat(metadata_time);
                        // console.log(candidate + " " + metadata_time);
                        // var close = findClosestTime(metadata_time);
                        // markers[i] = track[close];

                        // content = template.format(
                        //     analysis.attr("metadata-original-image-gname"), 
                        //     analysis.attr("metadata-original-image-unixtime")
                        // );
                        // $("#candidate-information-" + i).html(content); 
                    }
                    else
                    {
                        original_locations.push(undefined);
                        match_locations.push(undefined);

                        $("#candidate-new-" + i).css('display', 'none');
                        $("#candidate-match-" + i).css('display', 'initial');

                        $('#candidate-new-'   + i + '-original-name').html('');
                        $('#candidate-new-'   + i + '-original-time').html('');
                        $('#candidate-new-'   + i + '-match-time').html('');
                        $('#candidate-new-'   + i + '-match-lat-lon').html('');
                        $('#candidate-match-' + i + '-original-name').html('');
                        $('#candidate-match-' + i + '-original-time').html('');
                        $('#candidate-match-' + i + '-match-name').html('');
                        $('#candidate-match-' + i + '-match-time-lat-lon').html('');

                        $("#candidate-image-original-" + i + " div img").attr('src', empty);
                        $("#candidate-image-match-" + i + " img").attr('src', empty);
                    }
                }
                loadMap();
            }

            function toggleAnalysis(analysis, is_new)
            {
                if(selected.indexOf(analysis) > -1)
                {
                    var removedIndex = removeValueFromArray(analysis, selected);
                    removeIndexFromArray(removedIndex, isnew)
                    $("#analysis-" + analysis).removeClass('analysis-selected');
                    $("#analysis-image-hover-container-" + analysis).removeClass('analysis-image-hover-container-new');
                    $("#analysis-image-hover-container-" + analysis).removeClass('analysis-image-hover-container-match');
                    updateCandidates();
                }
                else
                {
                    while(selected.length >= 3)
                    {
                        var popped = selected[0];
                        removedIndex= removeValueFromArray(popped, selected);
                        removeIndexFromArray(removedIndex, isnew)
                        $("#analysis-" + popped).removeClass('analysis-selected');
                        $("#analysis-image-hover-container-" + popped).removeClass('analysis-image-hover-container-new');
                        $("#analysis-image-hover-container-" + popped).removeClass('analysis-image-hover-container-match');
                        updateCandidates();
                    }

                    if(selected.length < 3)
                    {
                        selected.push(analysis);
                        isnew.push(is_new);
                        $("#analysis-" + analysis).addClass('analysis-selected');
                        if(is_new)
                        {
                            $("#analysis-image-hover-container-" + analysis).addClass('analysis-image-hover-container-new');
                        }
                        else
                        {
                            $("#analysis-image-hover-container-" + analysis).addClass('analysis-image-hover-container-match');   
                        }
                        updateCandidates();
                    }
                    else
                    {
                        $("#analysis-" + analysis + " div span.glyphicon").animate({ color: "#d9534f", }, 200).delay(200).animate({ color: "#333", }, 200);;
                    }
                }

                if(selected.length >= 1)
                {
                    $("#send-button").removeAttr('disabled');
                }
                else
                {
                    $("#send-button").attr('disabled','disabled'); 
                }
                // console.log(selected);
                // console.log(isnew);
            }

            function clearSelected()
            {
                selected = new Array();
                isnew = new Array();
                updateCandidates();
                $(".analysis").removeClass('analysis-selected');
            }

            function prePrint(car_str, person)
            {
                content = $('#gps-map-canvas').contents().find('.content-include').html();
                $('#gps-map-canvas-container').html(content);
                submitPDF(car_str, person);
                print();
            }
        </script>

        <style type="text/css">
            .container
            {
                width: 100%;
            }
        </style>

        <div class="row" id="splitter">
            <div class="col-md-6" id="content-left" style="padding-left: 50px;">
                <ul class="nav nav-tabs" role="tablist">
                    {% for letter in analysis_dict.keys() %}
                        {% if letter == person %}
                            <li role="presentation" class="active"><a href="#person-{{ letter }}" aria-controls="person-{{ letter }}" role="tab" data-toggle="tab">{{ letter }}</a></li>
                        {% else %}
                            <li role="presentation"><a href="#person-{{ letter }}" aria-controls="person-{{ letter }}" role="tab" data-toggle="tab">{{ letter }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <div>
                    <a onclick="clearSelected();" class="btn btn-danger" style="position: absolute; top: 0px; right: 0px; margin-right: 15px;">CLEAR</a>
                </div>
                <div class="tab-content">
                {% for letter in analysis_dict.keys() %}
                    {% if letter == person %}
                        <div role="tabpanel" class="tab-pane active" id="person-{{ letter }}">
                    {% else %}
                        <div role="tabpanel" class="tab-pane" id="person-{{ letter }}">
                    {% endif %}
                        <div class="analysis-container">
                            {% for (i, conf, correspondences, original, match, metadata) in analysis_dict[letter] %}
                                <div class="row analysis" id="analysis-{{ letter }}-{{ i }}" analysis="{{ letter }}-{{ i }}" {{ metadata }}>                  
                                    <div class="col-xs-10 col-sm-10 col-md-10 analysis-image-correspondences" id="analysis-image-correspondences-{{ letter }}-{{ i }}">
                                        <img src="{{ correspondences }}" />
                                        <p style="color: #fff;">Confidence: {{ conf }}</p>
                                    </div>   
                                    <div class="col-xs-5 col-sm-5 col-md-5 analysis-image-original" id="analysis-image-original-{{ letter }}-{{ i }}">
                                        <img src="{{ original }}" />
                                    </div>
                                    <div class="col-xs-5 col-sm-5 col-md-5 analysis-image-match" id="analysis-image-match-{{ letter }}-{{ i }}">
                                        <img src="{{ match }}" />
                                    </div>
                                    <div class="col-xs-2 col-sm-2 col-md-2 analysis-image-hover-container" id="analysis-image-hover-container-{{ letter }}-{{ i }}" analysis="{{ letter }}-{{ i }}">
                                        <div class="analysis-image-hover" onclick="toggleAnalysis('{{ letter }}-{{ i }}', false);"  id="analysis-image-hover-{{ letter }}-{{ i }}" analysis="{{ letter }}-{{ i }}" style="width: 100%; height: 50%;">
                                            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                        </div>
                                        <br/>
                                        <div class="analysis-image-new" onclick="toggleAnalysis('{{ letter }}-{{ i }}', true);"  style="width: 100%; height: 50%; margin-top: 10px;">
                                            <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> 
                                        </div>
                                    </div>  
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                </div>
                <div class="send-container">
                    <a class="btn btn-xl btn-primary" id="send-button" onclick="prePrint('{{ car_str }}', '{{ person }}')" disabled="disabled">PRINT</a>
                </div>
            </div>

            <div class="col-md-6" id="content-right">
                <div class="printarea">
                    <div class="printarea-document">
                        <!-- 
                            <div id="content-container" class="us-letter" style="margin-left:auto; margin-right:auto; margin-top:0px; border: 1px solid #ddd;"> 
                        -->
                        <div id="content-container" class="a4-letter" style="margin-left:auto; margin-right:auto; margin-top:0px; border: 1px solid #ddd;">
                            <div style="background-color:#fff; height:100%; widht:100%; padding: 35px 50px;">
                                
                                <div class="row" style="height:7%;">
                                    <div class="col-xs-8 col-sm-8 col-md-8 notice-cell">
                                        <img src="{{ url_for('static', filename='images/logo_ibeis.png') }}" style="height: 90px;margin-top: -15px;margin-left: -10px;margin-right: 10px;"/>
                                         
                                        <img src="{{ url_for('static', filename='images/logo_kwf.png') }}" style="height: 90px;margin-top: -15px;margin-left: -10px;margin-right: 10px;"/>
                                    </div>

                                    <div class="col-xs-4 col-sm-4 col-md-4 notice-cell">
                                        <div style="text-transform:uppercase;">
                                            
                                        </div>
                                        <div class="identification-container checkered identification-color-{{ car_color }}">
                                            {% autoescape false %}
                                                {{ car_number }}
                                            {% endautoescape %}
                                            {{ car_color }} {{ person }}
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row" style="height:27%; margin: 0px;">
                                    <!-- <div id="gps-map-canvas"></div> -->
                                    <div id="gps-map-canvas-container" style="height: 100%; width: 100%; overflow: hidden; position: relative;"> 
                                        <iframe id="gps-map-canvas" type="text/html" src="" style="width: 100%; overflow: hidden; border-style: none;"></iframe>
                                    </div>
                                    <div id="map-legend">
                                        <div class="candidate-black"></div> 1<sup style="margin-right: 3px;">st</sup> Animal Locations
                                        <br/>
                                        <div class="candidate-red"></div> 2<sup>nd</sup> Animal Locations
                                        <br/>
                                        <div class="candidate-green"></div> 3<sup style="margin-right: 2px;">rd</sup> Animal Locations
                                        <br/>
                                    </div>
                                </div>

                                <div class="row candidate" style="height:2%; margin-top:1%;">
                                    <div class="col-xs-4 col-sm-4 col-md-4 candidate-image-original" id="candidate-image-original-{{ i }}" style="color: #999 !important; font-style: italic; background-color: transparent !important; border: none !important;">
                                        Your Image of Animal
                                    </div>
                                    <div class="col-xs-8 col-sm-8 col-md-8 candidate-image-match" id="candidate-image-match-{{ i }}" style="color: #999 !important; font-style: italic; background-color: transparent !important; border: none !important;">
                                        Matched Image of Animal
                                    </div>
                                </div>

                                {% for (i, color) in [(0, 'black'), (1, 'red'), (2, 'green')] %}
                                    <div class="row candidate" id="candidate-match-{{ i }}" style="height:19%; margin-bottom:1%">
                                        <div class="col-xs-4 col-sm-4 col-md-4 candidate-image-original" id="candidate-image-original-{{ i }}">
                                            <h4 style="margin: 0px;"><span id="candidate-match-{{ i }}-original-name"></span></h4>
                                            <div class="candidate-{{ color }}">
                                                <img src="" />
                                            </div>
                                            <p><span id="candidate-match-{{ i }}-original-time"></span></p>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 col-md-8 candidate-image-match" id="candidate-image-match-{{ i }}">
                                            <h4 style="margin: 0px;"><span id="candidate-match-{{ i }}-match-name"></span></h4>
                                            <img src="" />
                                            <p><span id="candidate-match-{{ i }}-match-time-lat-lon"></span></p>
                                        </div>
                                    </div>

                                    <div class="row candidate" id="candidate-new-{{ i }}" style="height:19%; margin-bottom:1%; display:none;">
                                        <div class="col-xs-4 col-sm-4 col-md-4 candidate-image-original" id="candidate-image-original-{{ i }}">
                                            <h4 style="margin: 0px;"><span id="candidate-new-{{ i }}-original-name"></span></h4>
                                            <div class="candidate-{{ color }}">
                                                <img src="" />
                                            </div>
                                            <p><span id="candidate-new-{{ i }}-original-time"></span></p>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 col-md-8 candidate-image-match" id="candidate-image-match-{{ i }}">
                                            <h2 style="margin-top: 10px; color: #428BCA !important;">Congratulations!</h2>
                                            <p>You found a new animal!  This animal has been seen first <b>by you</b>.</p>
                                            <h4 style="text-align: left; margin-bottom: 0px; padding-left: 17px;">First Seen On: <span id="candidate-new-{{ i }}-match-time"></span> </h4>
                                            <h4 style="text-align: left; margin-top: 0px; padding-left: 17px;">First Seen At: <span id="candidate-new-{{ i }}-match-lat-lon"></span></h4>
                                            <i><h3 style="margin-top: 0px; color: #999 !important;">Asante sana and come ujibambe!</h3></i>  
                                        </div>
                                    </div>
                                {% endfor %}

                                <div class="row" style="height:1%; text-align: center; color: #777 !important; font-style: italic;">
                                    visit ibeis.org for more information
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}