{% extends "layout.html" %}
{% block content %}
    {% if not valid %}
        <div class="jumbotron" style="text-align: center">
            <h3>OOPS...</h3>
            <p>
                The car and person you tried to review has not been processed yet by IBEIS.
                <br/>
                <br/>
                Please try again later.
            </p>
        </div>
    {% else %}
        <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvpv54I9K-wuUhm2D_FhnRjvLuZRmLd7k">
        </script>

        <script type="text/javascript">
            var selected = new Array();
            var track = new Array();
            var empty = '{{ url_for('static', filename='images/empty.jpg') }}';

            $( document ).ready( function() {
                
                var gps_url = "{{ gps_url }}";
                $.getJSON(gps_url, function( data ) {
                    $.each( data.track, function( key, marker ) {
                        track[marker.time] = [marker.lat, marker.lon];
                    });
                    updateCandidates();
                });

                $(".analysis-image-hover").mouseenter(function() {
                    analysis = $(this).attr("analysis");       
                    $(this).animate({ backgroundColor: "#CCC", }, 500);
                    $("#analysis-image-correspondences-" + analysis).animate({ left: "0", }, 500);
                });

                $(".analysis-image-hover").mouseleave(function() {
                    analysis = $(this).attr("analysis");          
                    $(this).animate({ backgroundColor: "transparent", }, 500);
                    $("#analysis-image-correspondences-" + analysis).animate({ left: "-100%", }, 500);
                });
            });

            function findClosestTime(time)
            {
                var index;
                for( index in track )
                {
                    if(time < index)
                    {
                        return track[index];
                    }
                }
                return track[index];
            }

            function renderMap(markers)
            {
                markers = undef(markers, new Array());
                var center = new google.maps.LatLng(-1.369, 36.860);
                loadGPSMap(track, markers, center);
            }

            function updateCandidates()
            {
                var template = '' + 
                    '<h3>Image: {0}</h3>' + 
                    '<p>Time: {1}</p>' + 
                '';
                var markers = new Array();
                for( var i = 0; i < 3; i++ )
                {
                    if(i < selected.length)
                    {
                        candidate = selected[i];
                        analysis = $("#analysis-" + candidate);
                        metadata_title = analysis.attr("metadata-title");   
                        metadata_time = analysis.attr("metadata-time");   

                        content = template.format(
                            metadata_title, 
                            metadata_time
                        );

                        markers.push( findClosestTime(metadata_time) );

                        $("#candidate-information-" + i).html(content);  
                        $("#candidate-image-original-" + i + " img").attr('src', $("#analysis-image-original-" + candidate + " img").attr('src') );
                        $("#candidate-image-match-" + i + " img").attr('src', $("#analysis-image-match-" + candidate + " img").attr('src') );
                    }
                    else
                    {
                        $("#candidate-information-" + i).html('<h4>Select an Analysis</h4>');   
                        $("#candidate-image-original-" + i + " img").attr('src', empty);
                        $("#candidate-image-match-" + i + " img").attr('src', empty);
                    }
                }
                renderMap(markers);
            }

            function toggleAnalysis(analysis)
            {
                if(selected.indexOf(analysis) > -1)
                {
                    removeFromArray(analysis, selected)
                    $("#analysis-" + analysis).removeClass('analysis-selected');
                    $("#analysis-" + analysis + " div span.glyphicon").addClass('glyphicon-heart-empty');
                    updateCandidates();
                }
                else if(selected.length < 3)
                {
                    selected.push(analysis);
                    $("#analysis-" + analysis).addClass('analysis-selected');
                    $("#analysis-" + analysis + " div span.glyphicon").removeClass('glyphicon-heart-empty');
                    updateCandidates();
                }
                else
                {
                    $("#analysis-" + analysis + " div span.glyphicon").animate({ color: "#d9534f", }, 200).delay(200).animate({ color: "#333", }, 200);;
                }

                if(selected.length >= 1)
                {
                    $("#send-button").removeAttr('disabled');
                }
                else
                {
                    $("#send-button").attr('disabled','disabled'); 
                }
            }
        </script>

        <style type="text/css">
            .container
            {
                width: 100%;
            }
        </style>

        <div class="row" id="splitter">
            <div class="col-md-6" id="content-left" style="padding-left: 50px;">
                <div class="analysis-container">
                    {% for (i, correspondences, original, match, metadata) in analysis_list %}
                        <div class="row analysis" id="analysis-{{ i }}" onclick="toggleAnalysis({{ i }});" analysis="{{ i }}" {{ metadata }}>                  
                            <div class="col-xs-10 col-sm-10 col-md-10 analysis-image-correspondences" id="analysis-image-correspondences-{{ i }}">
                                <img src="{{ correspondences }}" />
                            </div>   
                            <div class="col-xs-5 col-sm-5 col-md-5 analysis-image-original" id="analysis-image-original-{{ i }}">
                                <img src="{{ original }}" />
                            </div>
                            <div class="col-xs-5 col-sm-5 col-md-5 analysis-image-match" id="analysis-image-match-{{ i }}">
                                <img src="{{ match }}" />
                            </div>
                            <div class="col-xs-2 col-sm-2 col-md-2 analysis-image-hover" id="analysis-image-hover-{{ i }}" analysis="{{ i }}">
                                <span class="glyphicon glyphicon-heart glyphicon-heart-empty" aria-hidden="true"></span>
    <!--                        
                                <br/>
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                <br/>
                                <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
                                <br/>
                                <span class="glyphicon glyphicon-barcode" aria-hidden="true"></span> 
    -->
                            </div>   
                        </div>
                    {% endfor %}
                </div>
                <div class="send-container">
                    <a onclick="submitPDF('{{ car_str }}', '{{ person }}');" class="btn btn-xl btn-primary" id="send-button" disabled="disabled">PRINT</a>
                </div>
            </div>

            <div class="col-md-6" id="content-right">
                <div class="printarea">
                    <div class="printarea-document">
                        <div id="content-container" style="width:773px; height:1000px; margin-left:auto; margin-right:auto; margin-top:0px; border: 1px solid #ddd;">
                            <div style="background-color:#fff; height:100%; widht:100%; padding: 35px 50px;">
                                
                                <div class="row" style="height:10%;">
                                    <div class="col-xs-8 col-sm-8 col-md-8 notice-cell">
                                        <img src="{{ url_for('static', filename='images/logo.png') }}" style="height: 110px; margin-top: -70px; margin-left: -10px; margin-right: 10px;"/>                                        
 
                                        <div style="display:inline-block; font-size:20px; margin-top:-10px;">
                                            <h3 style="line-height: 35px;">
                                            The Great Zebra &amp; <br/>
                                            Giraffe Count
                                            </h3>
                                        </div> 

                                    </div>

                                    <div class="col-xs-4 col-sm-4 col-md-4 notice-cell">
                                        <div style="text-transform:uppercase;">
                                            
                                        </div>
                                        <div class="identification-container checkered identification-color-{{ car_color }}">
                                            {% autoescape false %}
                                                {{ car_number }}
                                            {% endautoescape %}
                                            {{ car_color }} {{ person }}
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row" style="height:27%; margin: 0px;">
                                    <div id="gps-map-canvas"></div>
                                </div>

                                <div class="row candidate" style="height:2%; margin-top:1%;">
                                    <div class="col-xs-4 col-sm-4 col-md-4 candidate-image-original" id="candidate-image-original-{{ i }}" style="color: #777 !important; font-style: italic;">
                                        Your Image
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 candidate-information" id="candidate-information-{{ i }}">
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 candidate-image-match" id="candidate-image-match-{{ i }}" style="color: #777 !important; font-style: italic;">
                                        Matched Image
                                    </div>
                                </div>

                                {% for i in range(3) %}
                                    <div class="row candidate" style="height:20%;">
                                        <div class="col-xs-4 col-sm-4 col-md-4 candidate-image-original" id="candidate-image-original-{{ i }}">
                                            <img src="" />
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 candidate-information" id="candidate-information-{{ i }}">
                                            <!-- PLACE HOLDER -->
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 candidate-image-match" id="candidate-image-match-{{ i }}">
                                            <img src=""/>
                                        </div>
                                    </div>
                                {% endfor %}

                                <div class="row" style="height:1%; text-align: center; color: #aaa !important; font-style: italic;">
                                    visit ibeis.org for more information
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}