{% extends "layout.html" %}
{% block content %}
    <style type="text/css">

        .content
        {
            position: relative;
        }
        #triangle-topright 
        {
            width: 0;
            height: 0;
            border-left: 256px solid transparent;
            position: relative;
            font-size: 100px;
            color: #e2e2e2;
            margin-bottom: 20px;
        }

        .blue
        {
            border-top: 256px solid #3071A9;
            z-index: 1000;
        }

        .orange:hover
        {
            z-index: 100;
        }

        .orange
        {
            border-top: 256px solid #EF7A4C;
            /*position: absolute !important;
            top: 0px;
            left: 0px;*/
            z-index: 2000;
        }

        .glyphicon-camera
        {
            position: absolute;
            top: -235px;
            right: 25px;
        }


        .glyphicon-map-marker
        {
            position: absolute;
            top: -225px;
            right: 25px;
        }

        .browse
        {
            font-size: 100px;
            color: #333;
        }

        .trash
        {
            font-size: 100px;
            color: #D9534F;
        }

        .download
        {
            font-size: 100px;
            color: #333;
        }

        .upload
        {
            font-size: 100px;
            color: #333;
        }

        .accepted
        {
            font-size: 100px;
            color: #5CB85C;
        }

        .rejected
        {
            font-size: 100px;
            color: #D9534F;
        }
    </style>

    <div id="triangle-topright" class="blue">
        <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
    </div>

    <div id="triangle-topright" class="orange">
        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
    </div>

    <div class="browse">
        <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
    </div>

    <div class="trash">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    </div>

    <div class="download">
        <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
    </div>

    <div class="upload">
        <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
    </div>

    <div class="accepted">
        <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
    </div>

    <div class="rejected">
        <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
    </div>

    

    
{% endblock %}